<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ClantraWeb</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c4639c">  <td>18/11/01 15:53:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WebTest.beforeMethodSetup(java.lang.reflect.Method)[pri:0, instance:clantraWeb.WebTest@4d41cee]">&gt;&gt;beforeMethodSetup</td> 
<td>&nbsp;</td>  <td>main@1863932867</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>18/11/01 15:54:20</td>   <td>44093</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.closeAllWindows()[pri:0, instance:clantraWeb.WebTest@4d41cee]">&lt;&lt;closeAllWindows</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1863932867</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>18/11/01 15:54:20</td>   <td>44139</td> <td title="&lt;&lt;TestBase.quitDrivers()[pri:0, instance:clantraWeb.WebTest@4d41cee]">&lt;&lt;quitDrivers</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1863932867</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>18/11/01 15:53:33</td>   <td>-3354</td> <td title="&gt;&gt;WebTest.setup(java.lang.String)[pri:0, instance:clantraWeb.WebTest@4d41cee]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1863932867</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>18/11/01 15:54:18</td>   <td>41566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.takescreenshotonfail(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:clantraWeb.WebTest@4d41cee]">&lt;&lt;takescreenshotonfail</td> 
<td>&nbsp;</td>  <td>main@1863932867</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>18/11/01 15:53:36</td>   <td>460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTest.verifyLogin()[pri:0, instance:clantraWeb.WebTest@4d41cee]">verifyLogin</td> 
  <td>main@1863932867</td>   <td></td> </tr>
</table>
