<h2>Reporter output</h2><table><tr><td>Sauce lab video url for Prelogin suite-->https://app.saucelabs.com/tests/50be551b6c96d17b57048b0f895d4dee/watch</td></tr>
<tr><td>INFO: User logged in with User name: abc.sharma@prontoitlabs.com
 password:  successfully</td></tr>
<tr><td>Verified Login message as  <span class='testdata'>Login Successfully</span></td></tr>
<tr><td>INFO: Status Code : 200
:  successfully</td></tr>
<tr><td>PASSED: Verified the LOGIN API response code of  : 200</td></tr>
<tr><td>INFO: Status Code : 200
:  successfully</td></tr>
<tr><td>PASSED: Verified the LOGIN API response code of  : 200</td></tr>
<tr><td>INFO: Status Code : 200
:  successfully</td></tr>
<tr><td>PASSED: Verified the BIRTH API response code of  : 200</td></tr>
<tr><td>INFO: Status Code : 200
:  successfully</td></tr>
<tr><td>PASSED: Verified the LOGIN API response code of  : 200</td></tr>
<tr><td>Verified Email Id  <span class='testdata'>abhishek.sharma@prontoitlabs.com</span></td></tr>
<tr><td>INFO: Status Code : 200
:  successfully</td></tr>
<tr><td>PASSED: Verified the LOGIN API response code of  : 200</td></tr>
<tr><td>Verified Employee Id  <span class='testdata'>PR0031</span></td></tr>
<tr><td>Verified Bithday First and Last names <span class='testdata'>{Gundeep=Singh, Vikas=Sehrawat, Vibhor=Grover}</span></td></tr>
<tr><td>INFO: User Marked Attendance : Attendance for this date has already been marked
 password:  successfully</td></tr>
</table>