<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ClantraWeb (0)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="77a679">  <td>18/10/26 14:29:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WebTest.beforeMethodSetup(java.lang.reflect.Method)[pri:0, instance:clantraWeb.WebTest@1b68ddbd]">&gt;&gt;beforeMethodSetup</td> 
<td>&nbsp;</td>  <td>main@1263877414</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/10/26 14:29:46</td>   <td>2094</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.closeAllWindows()[pri:0, instance:clantraWeb.WebTest@1b68ddbd]">&lt;&lt;closeAllWindows</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1263877414</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/10/26 14:29:46</td>   <td>2102</td> <td title="&lt;&lt;TestBase.quitDrivers()[pri:0, instance:clantraWeb.WebTest@1b68ddbd]">&lt;&lt;quitDrivers</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1263877414</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>18/10/26 14:29:24</td>   <td>-20301</td> <td title="&gt;&gt;WebTest.setup(java.lang.String)[pri:0, instance:clantraWeb.WebTest@1b68ddbd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1263877414</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/10/26 14:29:44</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.takescreenshotonfail(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:clantraWeb.WebTest@1b68ddbd]">&lt;&lt;takescreenshotonfail</td> 
<td>&nbsp;</td>  <td>main@1263877414</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>18/10/26 14:29:44</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTest.verifyLogin()[pri:0, instance:clantraWeb.WebTest@1b68ddbd]">verifyLogin</td> 
  <td>main@1263877414</td>   <td></td> </tr>
</table>
