<h2>Reporter output</h2><table><tr><td>string 'Oct@2018' contains special character</td></tr>
<tr><td>INFO: User logged in with User name: abc.sharma@prontoitlabs.com
 password:  successfully</td></tr>
<tr><td>Verified Login message as  <span class='testdata'>Login Successfully</span></td></tr>
</table>